# SPDX-License-Identifier: GPL-2.0-only
#
# BSH D-Bus layer core configuration
#
menuconfig BSHDBUS
	depends on NET
	tristate "BSH D-Bus subsystem support"
	help
	  BSH D-Bus is the bus which is used in BSH household appliances for the
	  communication between electronic control units.

	  If you want BSH D-Bus support you should say Y here and also to the
	  specific driver for your controller below.

if BSHDBUS

source "drivers/net/bshdbus/Kconfig"

endif
